{% extends 'base.html.twig' %}

{% block title %}Inscripciones index Tab{% endblock %}

{% block body %}
    <h1>Inscripciones index 1</h1>

    {% set columns = [
        { 'property': 'id', 'label': 'ID' },
        { 'property': 'idAlumno', 'label': 'ID Alumno' },
        { 'property': 'idExamen', 'label': 'ID Examen' }
    ] %}

    {% set actions = [
        { 
            'route': 'app_inscripciones_show', 
            'label': 'Ver', 
            'class': 'btn btn-info btn-sm',
            'params': { 'id': 'id' }
        },
        { 
            'route': 'app_inscripciones_edit', 
            'label': 'Editar', 
            'class': 'btn btn-warning btn-sm',
            'params': { 'id': 'id' }
        }
    ] %}

    {% include 'components/data-table.html.twig' with {
        'entities': inscripciones,
        'columns': columns,
        'actions': actions,
        'customClass': 'datatable-basic'
    } %}
	<br>
	
	
    <a href="{{ path('app_inscripciones_new') }}" class="btn btn-primary">
		Crear nueva inscripción
	</a>
{% endblock %}
